*
{
  box-sizing: border-box;
  margin:0;
  padding:0;
}
body
{
  font-family: 'Open Sans', sans-serif;
  background-color: #fff;
  height:100vh;
  width:100%;
}
a{
  text-decoration: none;
  position:relative;
  color:rgb(117, 197, 206);
}
nav a:after
{
  content:"";
  position:absolute;
  background-color:#fff;
  height:3px;
  width:0;
  left:0;
  bottom:-10px;
  transition:0.3s;
}
nav a:hover
{
  color:#fff;
}
nav a:hover:after{
  width:100%;
}
nav li 
{
  font-size: 18px;;
}
#header
{
  display:flex;
  justify-content: space-around;
  align-items:baseline;
  color:#fff;
  width:100%;
  background:#003147;
  padding:1em;
}
.navbar
{
  display:flex;
  justify-content: space-between;
  list-style-type: none;
  gap:2em;
}
#header-left-name
{
  margin-bottom: 0;
}
#header-left-job
{
  text-align: center;
  margin-top: 0.5em;
  color: rgb(117, 197, 206);
}
.main_title
{
  font-size: 30px;
  position:relative;
  color:#003147;
  text-transform:uppercase;
  letter-spacing: 1px;
  margin-bottom:15px;
}
.main_title:after
{
  content:"";
  position:absolute;
  background-color:#003147;
  height:2px;
  width:100%;
  left:0;
  bottom:-10px;
  transition:0.3s;
}
.main_home
{
  width:90%;
  margin:auto;
}
.main-first
{
  margin:auto;
  width:100%;
  text-align: center;
  padding: 3em;
}
.main-first-flex
{
  display:flex;
  justify-content: center;
  margin:auto;
}
.main-first-flex a 
{
  width:50%;
  padding:3em;
  transition:0.3s ease-out;
  color:#000;
}
.main-first-flex a:hover
{
  background-color:rgb(0, 49, 71);
  color:white;
  transform:scale(1.08);
}
.main-first-flex h4 
{
  margin:1em;
  text-transform: uppercase;
}
.main-second
{
  width: 100%;
  background-color: rgb(0, 49, 71);
  padding: 1.5em;
  box-shadow: 0px 0px 19px 5px rgb(0 0 0 / 40%);
  font-size: 1.5rem;
  text-align: center;
  display: flex;
  justify-content: center;
  width: 100%;
}
.main-second h4
{
  text-transform: uppercase;
  color:#fff;
  font-size:25px;;
  padding-bottom:2em;
}
.main-second-competences
{
  width:50%;
}
.main-second-card
{
  width:50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction:column;
}

.main-second-competences-list
{
  list-style-type: none;
}
.container-pb
{
  width:100%;
  background-color:grey;
  height:60px;
  border-radius:5px;
  display:flex;
  align-items: center;
  margin:1em 0 1em 0;
}
@keyframes pb
{
  from {width:0%;}
  to {width:100%;}
}
.span
{
  text-align: right;
  width:0%;
}
.main-third-graph
{
  width:75%;
  display:flex;
  justify-content: space-around;
  margin-top:10em;
}
.main-third
{
  display:flex;
  justify-content: center;
}


@media screen and (max-width: 600px) {
    #header-burger
    {
      display:flex;
      justify-content: flex-end;
    }
    #burger 
    {
      width: 30px;
      height: 2px;
      background: black;
      display: inline-block;
      position: relative;
    }
      #burger::before,
      #burger::after 
      {
        content: "";
        width: 30px;
        height: 2px;
        background: black;
        display: inline-block;
        position: absolute;
        transform-origin: center;
        transition: all 0.3s ease;
      }
      #burger::before 
      {
        top: -7px;
      }
      #burger::after 
      {
        top: 7px;
      }
      
      #burger.open 
      {
        background: transparent;
      }
      #burger.open::before 
      {
        transform: rotate(45deg);
        top: 0;
      }
      #burger.open::after 
      {
        transform: rotate(-45deg);
        top: 0;
      }
      
      .navbar 
      {
        background: #ffdcd1;
        position: absolute;
        width: 100%;
        left: 0;
        top: 100%;
        padding: 10px 0;
        transform: scaleY(0);
        transform-origin: center top;
        transition: all 0.3s ease;
        flex-direction: column;
        margin-top:0;
      }

      .navbar.open 
      {
        transform: scaleY(1);
      }
      .navbar li 
      {
        text-align: center;
      }
      header 
      {
        position:relative;
        max-width:600px;
      }
}
/*Compétences*/

.container
{
  display:flex;
  justify-content: center;
  align-items: center;
}
.content
{
  width:100%;
}
.content div
{
  display:flex;
  align-items:center;
}
.content div .bar
{
  height: 4rem;
  width:100%;
  background: #efefef;
  border-radius: 40px;;
  position:relative;
  margin-left:2rem;
  overflow:hidden;
  box-shadow: 2px 5px 10px #999;
  margin:1rem;
}
.content div .progress
{
  height:4rem;
  border-radius: 40px;
  background-color:lightblue;
}
.content div .bar h1
{
  position:absolute;
  right:10px;
  color:black;
  font-weight:600;
  font-size:1.5rem;
}
.content div .bar h2
{
  position:absolute;
  left:30px;
  color:#334750;
  font-weight:600;
  font-size:1.5rem;
  margin-right:1rem;
}

/*Animated Bar Chart*/

.text.sec-text:before
{
  content:"";
  position:absolute;
  top:0;
  left:0;
  height:100%;
  width:100%;
  background-color:lightblue;
  border-left:2px solid white;
  animation:animate 3s steps(14) infinite;
}
@keyframes animate
{
  40%,60%{
    left:100%;
  }
  100%{
    left:0%;
  }
}
footer
{
  display:flex;
  padding:1.3em;
  margin-top:2em;
  justify-content: space-evenly;
  font-size:1.3em;
  align-items: center;
  line-height:2;
  position:relative;
  height: 200px;
}
footer i
{
  color: #000;
  padding:0.5em;
  
}
footer a 
{
  color:#334750;
  font-weight:700;
}
footer a:hover 
{
  transform: scale(1.05);
  transition:0.2s;
}
footer:after 
{
  content: "";
  background-image: url('top-view-worktable-accessories-business-flat-lay-background-copy-space-180807541.jpg');
  position:absolute;
  width:100%;
  height:200px;
  z-index:-1;
  background-size: cover;
  filter: blur(8px);
}
.icon_link
{
  display:flex;
  flex-direction: column;
}
/******************************Contact form*****************************/

.contact-container
{
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 3em 0;
}

.contact-box
{
	max-width: 850px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: #fff;
	box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.19);
}

.left
{
	background-image: url("/Practice/C.V/IMG_0015.jpg");
	background-size: cover;
  background-position:center;
	height: 100%;
}

.right
{
	padding: 25px 40px;
}

.right h2
{
	position: relative;
	padding: 0 0 10px;
	margin-bottom: 10px;
}

.right h2:after
{
	content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  height: 4px;
  width: 50px;
  border-radius: 2px;
  background-color: rgb(117, 197, 206);
}

.field
{
	width: 100%;
	border: 2px solid rgba(0, 0, 0, 0);
	outline: none;
	background-color: rgba(15, 12, 12, 0.1);
	padding: 0.5rem 1rem;
	font-size: 1.1rem;
	margin-bottom: 22px;
	transition: .3s;
}

.field:hover
{
	background-color: rgba(0, 0, 0, 0.2);
}

textarea
{
	min-height: 150px;
}

.btn
{
	width: 100%;
	padding: 0.5rem 1rem;
	background-color: rgb(117, 197, 206);
	color: #fff;
	font-size: 1.1rem;
	border: none;
	outline: none;
	cursor: pointer;
	transition: .3s;
}

.btn:hover
{
    background-color: darkcyan;
}

.field:focus
{
    border: 2px solid rgba(30,85,250,0.47);
    background-color: #fff;
}

@media screen and (max-width: 880px)
{
	.contact-box{
		grid-template-columns: 1fr;
	}
	.left{
		height: 200px;
	}
  .main-second
  {
    flex-direction:column;
  }
  .main-second-card
  {
    width:100%;
  }
  .main-second-competences
  {
    width:100%;
  }
  .main-first-flex {
    flex-direction:column;
  }
  .main-first-flex a 
  {
    width:100%;
    background-color:#003147;
    color:white;
    margin:0.2em;
  }
}

@media screen and (max-width: 600px)
{
  .main-first-flex 
  {
    display:none;
  }
  .main-second 
  {
    padding:0;
  }
}

  @media screen and (max-width: 500px)
{
  .Card_card
  {
    width:220px;
  }
}


/******************************Card *************************/
.Card_card
{
  width:320px;
  height:575px;
  border-radius:30px;
  box-shadow:0px 20px 70px 0px rgba(0,0,0,0.21);
  position: relative;
  overflow:hidden;
  background-color: white;
}
.Card_card .Card_back{

  text-align:center;
  position:absolute;
  left:0;
  right:0;
  top:50%;
  margin-top:-139px;
  font-weight:600;
}
.Card_card .Card_back a
{
  text-decoration:none;
}
.Card_card .Card_up
{
  position:absolute;
  width:100%;
  height:437px;
  background-image: url('/Practice/C.V/IMG_0015.jpg');
  background-position:top;
  background-size: cover;
  z-index:3;
  text-align:center;
  transition:0.5s ease-in-out;
}
.Card_on .Card_up
{
  height:100px;
  box-shadow:0 0 30px #cfd8dc;
}
.Card_card .Card_up .Card_text
{
  position:absolute;
  top:319px;
  left:0;
  right:0;
  color:#334750;
  text-transform: uppercase;
  transition:0.5s ease-in-out;
}
.Card_on .Card_up .Card_text
{
  top:20px;
}
.Card_text h2
{
  margin:0;
  font-size:25px;
  font-weight: 600;
}
.Card_tet p
{
  margin:0;
  font-size:16px;
  color:#e3f1f5;
}
.Card_add
{
  border-radius: 50%;
  background-color: lightblue;
  box-shadow: 0px 5px 24px 0px rgba(0,0,0,0.43);
  position:absolute;
  top: 390px;
  left:0;
  right: 0;
  margin:auto;
  width:88px;
  height:88px;
  transition:0.5s ease-in-out;
}
.Card_on .Card_up .Card_add
{
  transform: rotate(360deg)scale(0.5);
  top:470px;
}
.Card_card .Card_up .Card_add
{
  color:#fff;
  font-size:38px;
  line-height:88px;
}
.Card_card .Card_down
{
  /* background-size: #fff; */
  position:absolute;
  bottom:0px;
  width:100%;
  height:178px;
  z-index: 2;
  transition: 0.5s ease-in-out;
}
.Card_card .Card_down div
{
  width:49%;
  float:left;
  text-align: center;
  margin-top: 60px;
  font-size: 18px;
  transition:0.5s ease-in-out;
}
.Card_on .Card_down div
{
  margin-top:35px;
}
.Card_card .Card_down div p:first-of-type
{
  margin-bottom: 5px;
}
.Card_card .Card_down div p:last-of-type
{
  color:#334750;
  margin-top: 0;
  font-weight:700;
}
.Card_card .Card_back a i 
{
  margin:10px;
  padding:15px;
  width:60px;
  font-size:25px;
  border-radius: 15px;
  transition: 0.3s ease-in-out;
}
.Card_card .Card_back a i:hover
{
  transform:scale(1.2);
}

.Card_card .Card_back a:nth-of-type(1) i
{
  color:#4267b2;
  border:2px solid #4267b2;
}
.Card_card .Card_back a:nth-of-type(2) i
{
  color:#1da1f2;
  border:2px solid #1da1f2;
}
.Card_card .Card_back a:nth-of-type(3) i
{
  color:red;
  border: 2px solid red;
}
.Card_back p 
{
  margin-bottom:10px;
}
.Card_on .Card_down
{
  height:130px;
  box-shadow:0 0 30px #cfd8dc;
}

/*******************************Parcours Page******************************/
.main-parcours
{
  display:flex;
  justify-content: center;
  align-items: center;
}
.parcours-container
{
  position:relative;
  width:100%;
  max-width:1000px;
  min-height:100px;
  background:#fff;
  margin: 50px;
  display:grid;
  grid-template-columns:1fr 2fr;
  box-shadow:0 35px 55px rgba(0,0,0,0.1);

}
.parcours-container .left-side
{
  position:relative;
  background:#003147;
  padding:40px;
}
.profileText{
  position:relative;
  display:flex;
  flex-direction: column;
  align-items:center;
  padding-bottom:20px;
  border-bottom:1px solid rgba(255,255,255,0.2);
}
.profileText .imgBx
{
  position:relative;
  width:200px;
  height:200px;
  border-radius: 50%;
  overflow:hidden;
}
.profileText .imgBx img
{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  object-fit: cover;
}
.profileText h2
{
  color:#fff;
  font-size:1.5em;
  margin-top:20px;
  text-transform:uppercase;
  text-align:center;
  font-weight:600;
  line-height:1.4em;
}
.profileText h2 span
{
  font-size: 0.8em;
  font-weight:300;
}
.contatcInfo
{
  padding-top:40px;
}
.title
{
  color:#fff;
  text-transform:uppercase;
  font-weight:600;
  letter-spacing:1px;
  margin-bottom:20px;
}
.contactInfo ul
{
  position:relative;
}
.contactInfo ul li
{
  position:relative;
  list-style: none;
  margin:10px 0;
  cursor:pointer;
}
.contactInfo ul li .icon
{
  display:inline-block;
  width:30px;
  font-size:18px;
  color:#03a9f4;
}
.contactInfo ul li span
{
  color:#fff;
  font-weight:400;
}
.contactInfo.formation li 
{
  margin-bottom:15px;
}
.contactInfo.formation h5 
{
  color:#03a9f4;
  font-weight: 500;
}
.contactInfo.formation h4:nth-child(2)
{
  color:#fff;
  font-weight: 500;
}
.contactInfo.formation h4
{
  color:#fff;
  font-weight: 300;
}
.contactInfo.language .percent
{
  position:relative;
  width: 100%;
  height:6px;
  background-color:#081921;
  display:block;
  margin-top: 5px;
}
.contactInfo.language .percent div
{
  position:absolute;
  top:0;
  left:0;
  height:100%;
  background-color:#03a9f4;
}
.parcours-container .right-side
{
  position:relative;
  background:#fff;
  padding:40px;
}
.about
{
  margin-bottom:50px;
}
.about:last-child
{
  margin-bottom:0;
}
.title2
{
  color:#003147;
  text-transform:uppercase;
  letter-spacing: 1px;
  margin-bottom:10px;
}
.about .box
{
  display:flex;
  flex-direction:row;
  margin:20px 0;
}
.about .box .year_company
{
  min-width:150px;

}
.about .box .year_company h5
{
  text-transform:uppercase;
  color:#848c90;
  font-weight:600;
}
.about .box .text h4
{
  text-transform: uppercase;
  color:#2a7da2;
  font-size:16px;
}
.skills .box
{
  position:relative;
  width:100%;
  display:grid;
  grid-template-columns: 150px 1fr;
  justify-content: center;
  align-items: center;
}
.skills .box
{
  text-transform:uppercase;
  color:#848c99;
  font-weight:500;
}
.skills .box .percent
{
  position:relative;
  width:100%;
  height:10px;
  background-color:#f0f0f0;
}
.skills .box .percent div
{
  position:absolute;
  top:0;
  left:0;
  height:10px;
  width:100%;
  background-color: #03a9f4;
}
.interest ul
{
  display:grid;
  grid-template-columns: repeat(4,1fr);
}
.interest ul li 
{
  list-style:none;
  color:#333;
  font-weight:500;
  margin:10px 0;
}
.interest ul li i 
{
  color:#03a9f4;
  font-size: 18px;
  width:20px;
  margin:0 10px;
}
@media(max-width:1000px)
{
  .parcours-container
  {
    margin:10px;
    grid-template-columns: repeat(1,1fr);
  }
  .interest ul 
  {
    grid-template-columns: repeat(2,1fr);

  }
}
@media(max-width:600px)
{
  .about .box
  {
    flex-direction:column;
  }
  .about .box .year_company 
  {
    margin-bottom:5px;
  }
  .interest ul 
  {
    grid-template-columns: repeat(1,1fr);

  }
  .skills .box 
  {
    grid-template-columns:repeat(1,1fr) ;
  }
}

/**********************************Slider***********************************/
.slider_container
{
  max-width:300px;
  overflow:hidden;
  height:300px;
  margin-top:5em;
}
.slider 
{
  display:flex;
  animation: slider 12s alternate infinite;
}
.slider_img
{
  max-width:300px;
  height:300px; 
  object-fit:cover
}

@keyframes slider 
{
  0%,
  12% 
  {
    transform: translateX(0);
  }
  17%,
  29% 
  {
    transform: translateX(-100%);
  }
  34%,
  46% 
  {
    transform: translateX(-200%);
  }
  51%,
  63% 
  {
    transform: translateX(-300%);
  }
  68%,
  80%
  {
    transform: translateX(-400%);
  }
  85%,
  100%
  {
    transform: translateX(-500%);
  }
}