body{
    background-color:rgb(117, 197, 206);
    margin:0;
    
}
a{
  text-decoration: none;
  color: #666666;
}
#header{
    display:flex;
    justify-content: space-around;
    align-items:baseline;
    background-color:white;
    color:#666666;
    width:100%;
}
.navbar{
    display:flex;
    justify-content: space-between;
    list-style-type: none;
    gap:2em;
}
#header-left-name{
    margin-bottom: 0;
}
#header-left-job{
    text-align: center;
    margin-top: 0.5em;
    color: rgb(117, 197, 206);
}
li{
    font-size: 1.3rem;
}
.main-first{
  margin:auto;
  font-size:1.5rem;
  width:75%;
  text-align: center;
}
.main-first-flex{
  display:flex;
  justify-content: space-around;
}
.main-first-flex div {
  width:50%;
}
.main-second{
  width:100%;
  background-color:white;
}
.main-second-flex{
  margin:auto;
  font-size:1.5rem;
  text-align: center;
  display:flex;
  justify-content: space-around;
  margin-top:4em;
  width:75%;
}
.main-second-competences{
  width:50%;
}
.main-second-presentation{
  width:50%;
}

.main-second-competences-list{
  list-style-type: none;
  text-align:left;
}
.container-pb{
  width:100%;
  background-color:grey;
  height:40px;
  border-radius:5px;
  display:flex;
  align-items: center;
  margin:1em 0 1em 0;
}
.pb{
  background-color: lightblue;
  height:40px;
  border-radius:5px;
  width:100%;
  transition: width 2s, background-color 2s;
}

@media screen and (max-width: 600px) {
    #header-burger{
        display:flex;
        justify-content: flex-end;
    }
    #burger {
        width: 30px;
        height: 2px;
        background: black;
        display: inline-block;
        position: relative;
      }
      #burger::before,
      #burger::after {
        content: "";
        width: 30px;
        height: 2px;
        background: black;
        display: inline-block;
        position: absolute;
        transform-origin: center;
        transition: all 0.3s ease;
      }
      #burger::before {
        top: -7px;
      }
      #burger::after {
        top: 7px;
      }
      
      #burger.open {
        background: transparent;
      }
      #burger.open::before {
        transform: rotate(45deg);
        top: 0;
      }
      #burger.open::after {
        transform: rotate(-45deg);
        top: 0;
      }
      
      .navbar {
        background: #ffdcd1;
        position: absolute;
        width: 100%;
        left: 0;
        top: 100%;
        padding: 10px 0;
        transform: scaleY(0);
        transform-origin: center top;
        transition: all 0.3s ease;
        flex-direction: column;
        margin-top:0;
      }

      .navbar.open {
        transform: scaleY(1);
      }
      .navbar li {
        text-align: center;
      }
      header {
        position:relative;
        max-width:600px;
      }
}